<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
</head>
<body>
    <%- include('../partials/profiletable') -%>
    <script src="jquery-3.4.1.js"></script>
    <script src="main3.js"></script>
</body>
</html>